<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="PARAMETER_BUILD_NAME" value="RoadToALM_BuildName"/>
    <add key="PARAMETER_DROP_LOCATION" value="RoadToALM_Droplocation"/>
  </appSettings>
</configuration>